*{
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 15%;
    padding-top: 23px;
    background-color: #eee;
    color: grey;
    text-align: center;
}
header > h1{
    margin: 0;
}

nav{
    width: 25%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

li{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-right: 20px;
    box-shadow: 1px 1px 3px;
}
li .glyphicon{
    display: inline;
}
ul .send{
    background-color: #C8F5A4;
    border-radius: 20px 20px 0px 20px;
    margin-left: 50%;
}
ul .other{
    background-color: aliceblue;
    border-radius: 0px 20px 20px 20px;
    width: 50%;
}
ul .get{
    background-color: ghostwhite;
    border-radius: 5px 5px 5px 0px;
    margin-right: 50%;
}
ul .new{
    width: 100%;
    background-color: skyblue;
}

ul .priv{
    width: 100%;
    background-color: orangered;
}

li > p{
    color: darkgrey;
    float: right;
    padding-right: 10px;
}

.secret{
    color: lightgreen;
}

input{
    padding-left: 20px;
}

.errorUser{
    color: red;
}

.ava{
    width: 30px;
    padding-right: 10px;
}

.row{
    width: 100%;
    height: 85%;
    float: left;
    padding-left: 20px;
}

.main{
    width: 75%;
    height: 90%;
    background: url(../img/bgmain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    overflow-y: scroll;
}

.msg{
    height: 10%;
    width: 75%;
    background-color: #EFEFD5;
    float:right;
    text-align:center;
}

.msg form{
    padding-top: 15px;
}

.msg input{
    width:70%;
    padding-left: 20px;
    font-weight: 900;
}

.msg button{
    background-color: white;
    border-radius: 50%;
}

.msg button:hover{
    background-color: grey;
    color: white;
}

::-webkit-input-placeholder {
    font-weight: 900;
}

.modal-body img{
    width: 100px;
}

#room{
    color: white;
    background-color: #3b8ec2;
    border-radius: 10px;
}

video, #play{
    width:30%;
    border-radius: 10px;
    margin-left: 1%;
}
#play{
    float: right;
}

#fil{
    width: 40%;
}